.aboutus-text{
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-spacing: 1.2px;
    line-height: auto;
}

.aboutus-text:hover{
    color: #0d6efd;
    transform: translate(0px, -15px);
    transition: 1s;
}

.about-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-img:hover{
    transform: translate(0px, -15px);
    transition: 1s ;
}
